.BuildInfo {
	width: 100%;
	position: relative;

	box-sizing: border-box;
	padding: 0 16px 0 16px;
}

.progress {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.buildInfoContainer {
	position: relative;
	width: 100%;
	display: grid;
	grid-template: "status artifacts" auto
					"numberAndTime numberAndTime" auto
					"branch branch" auto
					"agentAndChanges agentAndChanges" auto
					/ minmax(0, 1fr) 20px;

	padding: 8px 0;
	border-bottom: 1px solid var(--border-color);
}

.statusContainer {
	grid-area: status;

	overflow: hidden;
}

.artifactsContainer {
	height: 18px;

	grid-area: artifacts;
	place-self: start;
}

.numberAndTimePropertiesContainer {
	grid-area: numberAndTime;

	display: flex;
	flex-flow: row nowrap;

	align-items: baseline;
}

.secondRow {
	margin-top: 2px;

	grid-area: numberAndTime;

	display: flex;
	flex-flow: row nowrap;

	align-items: baseline;
}

.buildNumber {
	margin-right: 8px;
}

.time {
	width: 100%;
}


.branchContainer {
	grid-area: branch;
}

.branch {
	margin-top: 2px;
}

.agentAndChangesContainer {
	margin-top: 2px;

	grid-area: agentAndChanges;

	display: flex;
	flex-flow: row nowrap;

	align-items: baseline;
}

.agent {
	margin-right: 8px;
}

.changes {
	flex-shrink: 100;

	margin-left: auto;

	overflow: hidden;
	text-overflow: ellipsis;
}

.changes > a {
	overflow: hidden;
	text-overflow: ellipsis;
}

