.BuildInfo {
	width: 100%;
	position: relative;

	box-sizing: border-box;
	padding: 0 16px 0 16px;
}

.progress {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.buildInfoContainer {
	position: relative;
	width: 100%;
	display: grid;
	grid-template: "status" auto
					"secondary" auto
					/ minmax(0, 1fr);

	padding: 8px 0;
}

.buildInfoContainer_withBottomBorder {
	border-bottom: 1px solid var(--border-color);
}

.buildInfoContainerMedium {
	grid-template: "status artifacts" auto
					"secondary secondary" auto
					/ minmax(0, 1fr) 20px;
}

.statusContainer {
	grid-area: status;

	display: flex;
	align-items: baseline;

	overflow: hidden;
}

.artifactsContainer {
	height: 18px;

	grid-area: artifacts;
	place-self: start;
}

.buildNumber {
	margin-right: 8px;
}

.time {
	width: 100%;
}


.branchContainer {
	grid-area: branch;

	overflow: hidden;

	flex-shrink: 100;
}

.branchContainerLarge {
	margin-left: auto;
}

.branch {
	margin-top: 2px;
}

.agentAndChangesContainer {
	margin-top: 2px;

	flex-shrink: 10000;

	min-width: 0;

	grid-area: agentAndChanges;

	display: flex;
	flex-flow: row nowrap;

	align-items: baseline;
}

.agent {
	margin-right: 8px;
}

.agentLarge {
	margin-right: 0;
	margin-left: 12px;
}

.changes {
	flex-shrink: 100;

	margin-left: auto;

	overflow: hidden;
	text-overflow: ellipsis;
}

.changesLarge {
	order: -1;
	margin-left: 12px;
}

.changes > a {
	overflow: hidden;
	text-overflow: ellipsis;
}

.secondaryInfoContainer {
	display: flex;
	flex-flow: column nowrap;

	grid-area: secondary;
}

.secondaryInfoContainerLarge {
	flex-direction: row;
}

.secondaryFirstRow {
	margin-top: 2px;

	overflow: hidden;

	flex-shrink: 1;

	display: flex;
	flex-flow: row nowrap;

	align-items: baseline;
}

