.ProjectLink {
	color: var(--ring-secondary-color);

	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	font-family: var(--ring-font-family);
}

.slash {
	margin-right: 4px;
}

.link {
	color: var(--ring-secondary-color);
}

.projectName {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
