.widgetIsland {
	--header-bg-color: #f7f9fa;
	--border-color: #dfe5eb;

	display: flex;
	flex-flow: column nowrap;

	width: 100%;
	height: 100%;
	border-radius: var(--ring-border-radius);
	border: 1px solid var(--border-color);

	background: white;
}

.header {
	box-sizing: border-box;

	width: 100%;
	height: 35px;

	display: grid;
	grid-template: 35px / auto max-content;
	justify-content: space-between;

	padding: 0 12px;

	border-bottom: 1px solid var(--border-color);
	background-color: var(--header-bg-color);
}

.headerTitle {
	/*width: 70%;*/
	/*flex-grow: 1;*/
	/*height: 100%;*/
	overflow: hidden;
	text-overflow: ellipsis;
}

.headerOptions {
	display: flex;
	place-items: center;
	flex-flow: row nowrap;

	margin-left: 8px;
}

.body {
	width: 100%;
	/*height: 100%;*/

	flex-grow: 1;

	overflow: hidden auto;

	box-sizing: border-box;

	background: white;
}

.bodyOptions {
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.bodyWidgetSpecificOptions {
	width: 80%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.bodyScrollToTopOption {
	width: 20%;
}

.content {

}
