.BuildTypeLink.oneLine {
	display: grid;
	grid-template: auto / max-content auto;
	place-items: center start;
}

.buildTypeName {
	color: #1F2326;
	font-weight: bold;
	line-height: 20px;
	font-size: 13px;

	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.buildTypeName.oneLine {
	white-space: nowrap;
}

.buildTypeName:hover {
	color: var(--ring-link-hover-color);
}

.buildTypeName:active {
	color: var(--ring-main-color);
}
