{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "xo/esnext",
    "xo-react",
    "./node_modules/xo/config/plugins.js"
  ],
  "rules": {
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],
    "import/no-unassigned-import": [
      "error",
      {
        "allow": [
          "**/*.css"
        ]
      }
    ]
  }
}
