.BuildTypeChangesWidgetHeader {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	padding-right: 8px;

}

.flex {
	max-width: 100%;
	display: flex;
	flex-flow: row nowrap;
	place-items: baseline start;
}

.projectLink {
	flex-shrink: 9999999999;
	margin-right: 4px;
}

.buildTypeLink {
	flex-shrink: 1;
	flex-grow: 1;
}
