.InvestigationAdditionalInfo {

	box-sizing: border-box;

	width: 250px;

	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;

	padding: 16px;
	overflow: hidden;
}

.userAndTime {
	width: 100%;

	display: inline-flex;
	flex-flow: row wrap;
}

.user {
	max-width: 100%;

	overflow: hidden;
	text-overflow: ellipsis;

	margin-right: 1ch;

	font-family: var(--ring-font-family);
}

.time {
	max-width: 100%;

	font-family: var(--ring-font-family);
}

.comment {
	margin-top: 12px;

	font-family: var(--ring-font-family);
}

.resolution {
	margin-top: 12px;

	color: var(--ring-secondary-color);

	font-family: var(--ring-font-family);
}

.buttonsContainer {
	width: 100%;

	margin-top: 16px;

	display: flex;
	flex-flow: row nowrap;

	justify-content: space-between;
}

.fix {
	margin-right: 5px;
}

.reassign {
	flex-grow: 1;
}
