.ChangeView {
	width: 100%;

	display: grid;

	grid-template:
			"comment comment" auto
			"changesPreviewIcon metadata" auto
			/ 16px 1fr;

	row-gap: 8px;
	column-gap: 4px;
}

.comment {
	/*width: 100%;*/
	grid-area: comment;
}

.changesPreviewIcon {
	grid-area: changesPreviewIcon;
}

.changesPreviewInnerButton {
	padding: 0;
}

.metadata {
	grid-area: metadata;
	place-self: center end;

	color: var(--ring-secondary-color)
}
