.CollapseChangesList {
	padding: 8px 16px 0 16px;
}

.header {
	position: relative;

	width: 100%;
	display: flex;
	flex-flow: row wrap;

	padding-bottom: 8px;
}

.header_compact {
	flex-wrap: nowrap;
}

/*.chevron {*/
/*	grid-area: chevron;*/
/*}*/

.chevronButton {
	order: 1;
	padding: 0;
	margin-left: -2px;
	margin-right: 2px;
}


.chevronButtonIcon {
	color: #1F2326 !important;
}

.title {
	order: 2;

	max-width: 50%;

	margin-right: 12px;

	flex-grow: 0;
	flex-shrink: 1;

	line-height: 20px;
	font-weight: bold;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.changesCount {
	position: absolute;
	right: 0;

	order: 4;

	flex-grow: 1;
	flex-shrink: 9999999;

	margin-left: 1ch;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	text-align: end;

	line-height: 20px;
}

.extra {
	order: 5;
	width: 100%;
}

.extra_compact {
	order: 3;
	width: auto;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content {
}

.hidden {
	display: none;
}
