.CollapseChangesList {
	border-bottom: 1px solid var(--border-color);
	padding: 8px 12px 0 12px;
}

.header {
	display: grid;
	grid-template: "chevron panel" 20px
					"extra extra" auto
					/ 18px minmax(0, auto);
	column-gap: 4px;
	place-items: start;

	padding-bottom: 8px;
}

.chevron {
	grid-area: chevron;
}

.chevronButton {
	padding: 0;
}


.chevronButtonIcon {
	color: #1F2326 !important;
}

.headerPanel {
	grid-area: panel;

	display: inline-flex;
	width: 100%;
}

.title {
	flex-grow: 0;
	flex-shrink: 1;

	line-height: 20px;
	font-weight: bold;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.changesCount {
	flex-grow: 1;
	flex-shrink: 9999999;

	margin-left: 1ch;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*.title {*/
/*	grid-area: title;*/
/*	line-height: 20px;*/
/*	font-weight: bold;*/

/*	white-space: nowrap;*/
/*}*/

/*.changesCount {*/
/*	grid-area: changesCount;*/
/*	place-self: start end;*/

/*	white-space: nowrap;*/
/*	overflow: hidden;*/
/*	text-overflow: ellipsis;*/
/*	max-width: 100%;*/
/*}*/

.extra {
	grid-area: extra;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content {
	padding-bottom: 16px;
}

.shown {
	display: block;
}

.hidden {
	display: none;
}
