.listItem {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.listItem .mainContent {
	justify-self: flex-start;
}

.listItem .options {
	justify-self: flex-end;
}
